@import url("https://fonts.googleapis.com/css2?family=Kalnia+Glaze:wght@100..700&display=swap");

.product {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.product-image {
  font-family: "Roboto Flex", sans-serif;
  height: 100vh;
  width: 45vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid grey;
}

.product-description {
  height: 100vh;
  width: 55vw;
  align-items: center;
  justify-content: center;
}
